{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
		Reporte de Aplicaciones
{% endblock titulo %}


{% block extrahead %}
    <link href="{% static 'css/plugins/c3/c3.min.css' %}" rel="stylesheet">
{% endblock %}


{% block contenido %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Aplicaciones a ofertas</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_aplicaciones }}</h1>
                                <div class="font-bold text-success">
                                    <small>En total</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_aplicaciones_en_proceso }}</h1>
                                <div class="font-bold text-navy">
                                    <small>En proceso</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_aplicaciones_terminadas }}</h1>
                                <div class="font-bold text-navy">
                                    <small>Aprobadas</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total de ofertas de cada tipo de monitoria</h5>
                    </div>
                    <div class="ibox-content">
                        <canvas id="chart"></canvas>
                    </div>
                </div>
            </div>
            <!--div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total de ofertas de cada tipo de monitoria</h5>
                    </div>
                    <div class="ibox-content">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div-->
        </div>
    </div>

{% endblock contenido %}


{% block plugins %}

    <!-- ChartJS-->
    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>

    <script>
        $(function () {

            var config = {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: "Ofertas",
                            backgroundColor: 'rgba(26,179,148,0.5)',
                            borderColor: "rgba(26,179,148,0.7)",
                            pointBackgroundColor: "rgba(26,179,148,1)",
                            pointBorderColor: "#fff",
                            data: {{ ofertas }}
                        },{
                            label: "Aplicaciones",
                            backgroundColor: 'rgba(220, 220, 220, 0.5)',
                            pointBorderColor: "#fff",
                            data: {{ aplicaciones }}
                        }
                    ],
                    labels: {{ etiquetas|safe }}
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Ofertas vs Aplicaciones por Tipo de Monitoria'
                    },
                }
            };

            var ctx = document.getElementById("chart").getContext("2d");
            new Chart(ctx, config);

            var config2 = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: {{ aplicaciones }},
                        backgroundColor: [
                            'rgba(26,179,148,0.8)',
                            'rgba(220, 178, 26, 1)',
                            'rgba(220, 26, 26, 0.8)',
                            'rgba(26,150,220,0.5)',
                        ]
                    }],
                    labels: {{ etiquetas|safe }}
                },
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Cantidad de Aplicaciones por Tipo de Monitoria'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    }
                }
            };

            var ctx2 = document.getElementById("chart2").getContext("2d");
            new Chart(ctx2, config2);

        });

    </script>

{% endblock plugins %}