{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
    Reporte de Estudiantes
{% endblock titulo %}


{% block extrahead %}
    <link href="{% static 'css/plugins/c3/c3.min.css' %}" rel="stylesheet">
{% endblock %}


{% block contenido %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Estudiantes registrados</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_estudiantes }} </h1>
                                <div class="font-bold text-success">
                                    <small>En total</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_estudiantes_d10_registrado }}</h1>
                                <div class="font-bold text-navy">
                                    <small>Con D10 diligenciado</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_estudiantes_d10_aprobado }}</h1>
                                <div class="font-bold text-navy">
                                    <small>Con D10 aprobado</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Reporte de estudiantes registrados por programa academico</h5>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <canvas id="barChart" height="140"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}


{% block plugins %}

    <!-- ChartJS-->
    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>

    <script>

        $(function () {

            var barData = {
                labels: {{ label|safe }},
                datasets: [
                    {
                        label: "Hombres",
                        backgroundColor: 'rgba(220, 220, 220, 0.5)',
                        pointBorderColor: "#fff",
                        stack: 'Stack 0',
                        data: {{ hombres }}
                    },
                    {
                        label: "Mujeres",
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        stack: 'Stack 0',
                        data: {{ mujeres }}
                    }
                ]
            };

            var barOptions = {
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            };


            var ctx2 = document.getElementById("barChart").getContext("2d");
            new Chart(ctx2, {type: 'bar', data: barData, options: barOptions});


        });

    </script>

{% endblock plugins %}