{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
    Reporte de Ofertas
{% endblock titulo %}


{% block extrahead %}
    <link href="{% static 'css/plugins/c3/c3.min.css' %}" rel="stylesheet">
{% endblock %}


{% block contenido %}

    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ofertas de monitoria</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_ofertas }}</h1>
                                <div class="font-bold text-success">
                                    <small>En total</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_ofertas_en_proceso }}</h1>
                                <div class="font-bold text-navy">
                                    <small>En proceso</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h1 class="no-margins">{{ total_ofertas_terminadas }}</h1>
                                <div class="font-bold text-navy">
                                    <small>Terminadas</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total de ofertas de cada tipo de monitoria</h5>
                    </div>
                    <div class="ibox-content">
                        <canvas id="barChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Total de ofertas de cada tipo de monitoria</h5>
                    </div>
                    <div class="ibox-content">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock contenido %}


{% block plugins %}

    <!-- ChartJS-->
    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>

    <script>
        $(function () {

            /* OFERTAS DE MONITORIAS POR TIPO DE OFERTA Y ESTADO DE LA OFERTA*/

            var barData = {
                labels: {{ tipos_oferta|safe }},
                datasets: [
                    {
                        label: "Terminadas",
                        backgroundColor: 'rgba(220, 220, 220, 0.5)',
                        pointBorderColor: "#fff",
                        stack: 'Stack 0',
                        data: {{ terminadas }}
                    },
                    {
                        label: "En proceso",
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        stack: 'Stack 0',
                        data: {{ activas }}
                    }
                ]
            };

            var barOptions = {
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            };

            /* OFERTAS DE MONITORIA POR DEPENDENCIA */

            var ctx2 = document.getElementById("barChart").getContext("2d");
            new Chart(ctx2, {type: 'bar', data: barData, options: barOptions});

            var config2 = {
                type: 'bar',
                data: {
                    datasets: [
                        {
                            label: "Administrativa",
                            backgroundColor: 'rgba(26,179,148,0.8)',
                            pointBorderColor: "#fff",
                            stack: 'Stack 0',
                            data: {{ administrativa }}
                        },
                        {
                            label: "Docencia",
                            backgroundColor: 'rgba(220, 178, 26, 1)',
                            pointBackgroundColor: "rgba(26,179,148,1)",
                            pointBorderColor: "#fff",
                            stack: 'Stack 0',
                            data: {{ docencia }}
                        },
                        {
                            label: "Investigacion",
                            backgroundColor: 'rgba(220, 26, 26, 0.8)',
                            pointBackgroundColor: "rgba(26,179,148,1)",
                            pointBorderColor: "#fff",
                            stack: 'Stack 0',
                            data: {{ investigacion }}
                        },
                        {
                            label: "Especial",
                            backgroundColor: 'rgba(26,150,220,0.5)',
                            pointBackgroundColor: "rgba(26,179,148,1)",
                            pointBorderColor: "#fff",
                            stack: 'Stack 0',
                            data: {{ especial }}
                        }
                    ],
                    labels: {{ etiquetas_dependencias|safe }}
                },
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true,
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    },
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Ofertas de monitoria por dependencias'
                    },
                }
            };
            var ctx2 = document.getElementById("chart2").getContext("2d");
            new Chart(ctx2, config2);

        });

    </script>

{% endblock plugins %}