{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Listar Facultades
{% endblock %}

{%  block extrahead %}
    <link href="{% static 'css/plugins/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock extrahead %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Listado de Programas Academicos Registrados</h5>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Codigo</th>
                            <th>Facultad</th>
                            <th>Jornada</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for programa in object_list %}
                            <tr>
                                <td> {{ programa.nombre_programa }} </td>
                                <td> {{ programa.codigo_programa }} </td>
                                <td> {{ programa.facultad }} </td>
                                <td> {{ programa.jornada }} </td>
                                <td> {{ programa.estado }} </td>
                                <td>
                                    <a href="{% url 'editar_programa' programa.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Editar </a>
                                    <a onclick="Eliminar('{{programa.id}}', '{{programa.nombre}}');" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Codigo</th>
                            <th>Facultad</th>
                            <th>Jornada</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block plugins %}

    <script src="{% static 'js/plugins/dataTables/datatables.min.js' %}"></script>

    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.footable').footable();
        });
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            order: [],
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

        function Eliminar(id, nombre) {

            swal({
                title: 'Estas seguro que deseas eliminar el programa academico "'+nombre+'"?',
                text: "Será eliminada permanenetemente.",
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No, cancelar",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: true,
                    },
                    confirm: {
                        text: "Si, eliminar permanentemente!",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: true
                    }
                },
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: '/programas/eliminar_programa/',
                        data: {
                          'id': id
                        },
                        dataType: 'json',
                        success: function (data) {
                            window.location.replace("/programas/listar/");
                        }
                    });
                }
            });

        }
    </script>
    
{% endblock plugins %}