{% load static %}
{% load bootstrap3 %}


<li class="nav-header">
    <div class="dropdown profile-element">
        {% comment %}
        <div style="width: 50px;">
            {% if user.estudiante.estado_d10 == 'Registrado' %}
            <img alt="image" class="img-circle" style="width: 100%;" src="{{ user.estudiante.d10.datos_basicos.foto.url }}" />
            {% else %}
            <img alt="image" class="img-circle" style="width: 100%;" src="/media/fotos/usuario.jpg" />
            {% endif %}
        </div>
        {% endcomment %}
        <span class="clear" style="color: #DFE4ED;"> <span class="block m-t-xs"> <strong class="font-bold">
            {{ user.nombres }} {{ user.primer_apellido }} </strong>
            </span> <span class="text-muted text-xs block">({{ user.rol }})</span> </span>
    </div>
    <div class="logo-element">
        IN+
    </div>
</li>

{% if user.rol == 'Estudiante' %}
<li {% if registrar_formato_d10 %} class="active" {% endif %}>
    <a href="/usuarios/registrar-d10"><i class="fa fa-address-card"></i> <span class="nav-label">
            {% if user.estudiante.estado_d10 == 'No registrado' %}
            Registrar D10
            {% else %}
            Actualizar D10
            {% endif %}
        </span></a>
</li>
<li {% if listar_ofertas %} class="active" {% endif %}>
    <a href="/monitorias/ofertas/listar"><i class="fa fa-briefcase"></i> <span class="nav-label">Ofertas de monitorias</span></a>
</li>
<li {% if listar_aplicaciones %} class="active" {% endif %}>
    <a href="/monitorias/aplicaciones/listar/"><i class="fa fa-tasks"></i> <span class="nav-label">Mis aplicaciones</span></a>
</li>
{% endif %}

{% if user.rol == 'Operario' %}
<li {% if registrar_oferta %} class="active" {% endif %}>
    <a href="/monitorias/ofertas/registrar"><i class="fa fa-plus-square"></i> <span class="nav-label">Registrar oferta
            de monitoria</span></a>
</li>

<li {% if listar_ofertas %} class="active" {% endif %}>
    <a href="/monitorias/ofertas/listar"><i class="fa fa-list"></i> <span class="nav-label">Mis ofertas de monitorias</span></a>
</li>

<li {% if estudiantes_con_d10 %} class="active" {% endif %}>
    <a href="/monitorias/estudiantes-con-d10"><i class="fa fa-users"></i> <span class="nav-label">Estudiantes con D10</span></a>
</li>
{% endif %}

{% if user.rol == 'Director' %}
<li {% if listar_solicitudes_d10 %} class="active" {% endif %}>
    <a href="/usuarios/listar-solicitudes-d10"><i class="fa fa-file"></i> <span class="nav-label">Solicitudes de
            aprobacion D10</span></a>
</li>
<li {% if listar_estudiantes %} class="active" {% endif %}>
    <a href="/usuarios/estudiantes/listar"><i class="fa fa-graduation-cap"></i> <span class="nav-label">Estudiantes del
            plan</span></a>
</li>
{% endif %}

{% if user.rol == 'Administrador' %}
<li {% if gestion_monitorias %} class="active" {% endif %}>
    <a href="#"><i class="fa fa-briefcase"></i> <span class="nav-label">Monitorias</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if listar_ofertas %} class="active" {% endif %}>
            <a href="/monitorias/ofertas/listar">Listar Ofertas</a>
        </li>
        <li {% if listar_aplicaciones %} class="active" {% endif %}>
            <a href="/monitorias/aplicaciones/listar">Listar Aplicaciones</a>
        </li>
    </ul>
</li>
<li {% if gestion_usuarios %} class="active" {% endif %}>
    <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Usuarios</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if gestion_estudiantes %} class="active" {% endif %}>
            <a href="#">Estudiantes<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_estudiante %} class="active" {% endif %}>
                    <a href="/usuarios/estudiantes/registrar">Registrar</a>
                </li>
                <li {% if listar_estudiantes %} class="active" {% endif %}>
                    <a href="/usuarios/estudiantes/listar">Listar</a>
                </li>
            </ul>
        </li>
        <li {% if gestion_directores %} class="active" {% endif %}>
            <a href="#" id="damian">Directores<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_director %} class="active" {% endif %}>
                    <a href="/usuarios/directores/registrar">Registrar</a>
                </li>
                <li {% if listar_directores %} class="active" {% endif %}>
                    <a href="/usuarios/directores/listar">Listar</a>
                </li>
            </ul>
        </li>
        <li {% if gestion_operarios %} class="active" {% endif %}>
            <a href="#" id="damian">Operarios<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_operario %} class="active" {% endif %}>
                    <a href="/usuarios/operarios/registrar">Registrar</a>
                </li>
                <li {% if listar_operarios %} class="active" {% endif %}>
                    <a href="/usuarios/operarios/listar">Listar</a>
                </li>
            </ul>
        </li>
        <li {% if gestion_administradores %} class="active" {% endif %}>
            <a href="#">Administradores<span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_administrador %} class="active" {% endif %}>
                    <a href="/usuarios/administradores/registrar">Registrar</a>
                </li>
                <li {% if listar_administradores %} class="active" {% endif %}>
                    <a href="/usuarios/administradores/listar">Listar</a>
                </li>

            </ul>
        </li>
    </ul>
</li>
<li {% if gestion_universidad %} class="active" {% endif %}>
    <a href="#"><i class="fa fa-institution"></i> <span class="nav-label">Universidad</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if gestion_facultades %} class="active" {% endif %}>
            <a href="#" id="damian">Facultades <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_facultad %} class="active" {% endif %}>
                    <a href="/facultades/registrar">Registrar</a>
                </li>
                <li {% if listar_facultades %} class="active" {% endif %}>
                    <a href="/facultades/listar">Listar</a>
                </li>
            </ul>
        </li>
        <li {% if gestion_unidades %} class="active" {% endif %}>
            <a href="#" id="damian"> Unidades Academicas <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_unidad %} class="active" {% endif %}>
                    <a href="/unidades/registrar">Registrar</a>
                </li>
                <li {% if listar_unidades %} class="active" {% endif %}>
                    <a href="/unidades/listar">Listar</a>
                </li>
            </ul>
        </li>
        <li {% if gestion_dependencias %} class="active" {% endif %}>
            <a href="#" id="damian"> Dependencias <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_dependencia %} class="active" {% endif %}>
                    <a href="/dependencias/registrar">Registrar</a>
                </li>
                <li {% if listar_dependencias %} class="active" {% endif %}>
                    <a href="/dependencias/listar">Listar</a>
                </li>
            </ul>
        </li>
        <li {% if gestion_programas %} class="active" {% endif %}>
            <a href="#" id="damian"> Programas Academicos <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li {% if registrar_programa %} class="active" {% endif %}>
                    <a href="/programas/registrar">Registrar</a>
                </li>
                <li {% if listar_programas %} class="active" {% endif %}>
                    <a href="/programas/listar">Listar</a>
                </li>
            </ul>
        </li>
        <!--li>
            <a href="#" id="damian"> <i class="fa fa-calendar"></i>Periodos <span class="fa arrow"></span></a>
            <ul class="nav nav-third-level">
                <li>
                    <a href="#">Registrar</a>
                </li>
                <li>
                    <a href="#">Listar</a>
                </li>
            </ul>
        </li-->
    </ul>
</li>
{% endif %}

{% if user.rol == 'Administrador' or user.rol == 'Director' %}
<li {% if reportes %} class="active" {% endif %}>
    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Reportes</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level collapse">
        <li {% if reporte_estudiantes_registrados %} class="active" {% endif %}>
            <a href="/reportes/estudiantes-registrados">Estudiantes Registrados</a>
        </li>
        <li {% if reporte_monitorias_ofertadas %} class="active" {% endif %}>
            <a href="/reportes/ofertas-registradas">Monitorias Ofertadas</a>
        </li>
        <li {% if reporte_aplicaciones_monitorias %} class="active" {% endif %}>
            <a href="/reportes/aplicaciones-monitorias">Aplicaciones a Monitorias</a>
        </li>
    </ul>
</li>
{% endif %}