{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Registrar Aplicacion
{% endblock %}

{% block extrahead %}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
<div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>All form elements <small>With custom checbox and radion elements.</small></h5>

                </div>
                <div class="ibox-content">
                    <h2>
                        Validation Wizard Form
                    </h2>
                    <p>
                        This example show how to use Steps with jQuery Validation plugin.
                    </p>
                    <form method="post" class="form-horizontal"> {% csrf_token %}
                        <div id="wizard">
                            <h1>Datos Basicos</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_basicos.semestre label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.estado_civil label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.numero_de_personas_a_cargo label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.posicion_familiar label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.direccion_residencia label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.estrato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.perfil_ocupacional label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_basicos.barrio label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.ciudad label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.departamento label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.nombre_acudiente label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.telefono_acudiente label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.sistemas_que_maneja label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Educacion</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_educacion.titulo_obtenido_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ano_finalizacion_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.nombre_colegio_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ciudad_colegio_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_educacion.plan_otros_estudios label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.semestres_otros_estudios label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ano_finalizacion_otros_estudios label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.nombre_establecimiento_otros_estudios label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ciudad_establecimiento_otros_estudios label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Capacitacion</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_capacitacion.nombre_establecimiento label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_capacitacion.nombre_curso label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_capacitacion.duracion_cruso label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_capacitacion.fecha_finalizacion_curso label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Aprobacion Director</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_aprobacion.promedio_acumulado label_class="control-label col-sm-5" field_class="col-sm-6" placeholder="ej: 4.2" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_aprobacion.estado_aprobacion label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <a class="btn btn-primary" href="{% url 'listar_solicitudes_d10' %}">Volver</a>
                            <button class="btn btn-primary" type="submit">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock contenido %}

{% block plugins %}

    <!-- Steps -->
    <script src="{% static 'js/plugins/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>


    <!-- Data picker -->
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <script>
        $(document).ready(function(){
            $("#wizard").steps({
                enableFinishButton: false,
                //stepsOrientation: "vertical"
                enableAllSteps: true,
                startIndex: 3,
                enablePagination: false,
            });
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                todayBtn: "linked",
                autoclose: true,
                format: "dd/mm/yyyy",
                // You can put more options here.

            });
       });
    </script>

{% endblock plugins %}