{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Detalle del estudiante
{% endblock %}

{% block contenido %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
            <h5>Detalle del estudiante {{ object.nombreCompleto }}</h5>
            </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading" align="center">
                                    Informacion Basica
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <h3><strong>{{ object.nombreCompleto }}</strong></h3>
                                        <address>
                                            <strong>Codigo de estudiante: </strong>{{ object.codigo }}<br>
                                            <strong>Programa Academico: </strong>{{ object.programa_academico }} {% if object.d10.datos_basicos.semestre %} ( Semestre: {{ object.d10.datos_basicos.semestre }} ) {% endif %} <br>
                                            <strong>{{ object.tipo_documento }}: </strong> {{ object.numero_documento }} de {{ object.lugar_expedicion_documento }}<br>
                                            <strong>Email: </strong> {{ object.email }}<br>

                                            <br><br>
                                            <strong>Fecha de nacimiento: </strong>{{ object.fecha_nacimiento }} ({{ object.edad }} años)<br>
                                            <strong>Direccion: </strong>{{ object.d10.datos_basicos.direccion_residencia }} - {{ object.d10.datos_basicos.barrio }}<br>
                                            <strong>Telefono: </strong> {{ object.numeroTelefonico }} <br>
                                        </address>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                        {% if estudiante.estado_d10 == 'Registrado' %}
                        <div class="col-lg-8">
                            <div class="panel panel-info">
                                <div class="panel-heading" align="center">
                                    D10
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="panel panel-info">
                                                <div class="panel-heading" align="center">
                                                    Datos Basicos
                                                </div>
                                                <div class="panel-body">
                                                    <div style="display: flex;">
                                                        <div style="margin-right: 20px;">
                                                            <strong>Codigo de estudiante: </strong>{{ object.codigo }}<br>
                                                            <strong>Nombre(s): </strong>{{ object.nombres }}<br>
                                                            <strong>Primer apellido: </strong>{{ object.primer_apellido }}<br>
                                                            <strong>Segundo apellido: </strong>{{ object.segundo_apellido }}<br>
                                                            <strong>Estado civil: </strong>{{ object.d10.datos_basicos.estado_civil }}<br>
                                                            <strong>Personas a cargo: </strong>{{ object.d10.datos_basicos.numero_de_personas_a_cargo }}<br>
                                                            <strong>Direccion actual: </strong>{{ object.d10.datos_basicos.direccion_residencia }}<br>
                                                            <strong>Estrato: </strong>{{ object.d10.datos_basicos.estrato }}<br>
                                                            <strong>Barrio: </strong>{{ object.d10.datos_basicos.barrio }}<br>
                                                            <strong>Cuidad: </strong>{{ object.d10.datos_basicos.ciudad }}, {{ object.d10.datos_basicos.departamento }}<br>
                                                        </div>
                                                        <div>
                                                            <strong>Acudiente: </strong>{{ object.d10.datos_basicos.nombre_acudiente }}<br>
                                                            <strong>Telefono de acudiente: </strong>{{ object.d10.datos_basicos.telefono_acudiente }}<br>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-info">
                                                <div class="panel-heading" align="center">
                                                    Educacion
                                                </div>
                                                <div class="panel-body">
                                                    {% if object.d10.datos_educacion.idioma_nombre != '' %}
                                                    <h2>Idioma: <small><strong>{{ object.d10.datos_educacion.idioma_nombre }}</strong></small> </h2>
                                                    <strong>Habla: </strong>{{ object.d10.datos_educacion.idioma_nivel_habla }},
                                                    <strong>Escribe: </strong>{{ object.d10.datos_educacion.idioma_nivel_escribe }},
                                                    <strong>Lee: </strong>{{ object.d10.datos_educacion.idioma_nivel_lee }}<br><br>
                                                    {% endif %}

                                                    <h2>Bachillerato:</h2>
                                                    <strong>Titulo obtenido: </strong>{{ object.d10.datos_educacion.titulo_obtenido_bachillerato }}<br>
                                                    <strong>Año de Finalizacion: </strong>{{ object.d10.datos_educacion.ano_finalizacion_bachillerato }}<br>
                                                    <strong>Institucion: </strong>{{ object.d10.datos_educacion.nombre_colegio_bachillerato }} ({{ object.d10.datos_educacion.ciudad_colegio_bachillerato }})<br><br>

                                                    {% if object.d10.datos_educacion.plan_otros_estudios != '' %}
                                                    <h2>Estudios Universitarios:</h2>
                                                    <strong>Plan o titulo: </strong>{{ object.d10.datos_educacion.plan_otros_estudios}}<br>
                                                    <strong>Semestres: </strong>{{ object.d10.datos_educacion.semestres_otros_estudios }}<br>
                                                    <strong>Año de Finalizacion: </strong>{{ object.d10.datos_educacion.ano_finalizacion_otros_estudios }}<br>
                                                    <strong>Establecimiento: </strong>{{ object.d10.datos_educacion.nombre_establecimiento_otros_estudios }} ({{ object.d10.datos_educacion.ciudad_establecimiento_otros_estudios }})
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        {% if object.d10.datos_capacitacion.nombre_curso != '' %}
                                        <div class="col-lg-6">
                                            <div class="panel panel-info">
                                                <div class="panel-heading" align="center">
                                                    Capacitacion
                                                </div>
                                                <div class="panel-body">
                                                    <strong>Establecimiento: </strong>{{ object.d10.datos_capacitacion.nombre_establecimiento }}<br>
                                                    <strong>Curso o seminario: </strong>{{ object.d10.datos_capacitacion.nombre_curso }}<br>
                                                    <strong>Duracion del curso: </strong>{{ object.d10.datos_capacitacion.duracion_cruso }}<br>
                                                    <strong>Fecha de terminacion: </strong>{{ object.d10.datos_capacitacion.fecha_finalizacion_curso }}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if object.d10.datos_experiencia_laboral.nombre_empresa != '' %}
                                        <div class="col-lg-6">
                                            <div class="panel panel-info">
                                                <div class="panel-heading" align="center">
                                                    Experiencia Laboral
                                                </div>
                                                <div class="panel-body">
                                                    <strong>Nombre de la empresa: </strong>{{ object.d10.datos_experiencia_laboral.nombre_empresa }}<br>
                                                    <strong>Cargo desempeñado: </strong>{{ object.d10.datos_experiencia_laboral.cargo }}<br>
                                                    <strong>Funciones realizadas: </strong>{{ object.d10.datos_experiencia_laboral.funciones_realizadas }}<br>
                                                    <strong>Logros: </strong>{{ object.d10.datos_experiencia_laboral.logros }}<br>
                                                    <strong>Nombre del jefe inmediato: </strong>{{ object.d10.datos_experiencia_laboral.jefe_inmediato }}<br>
                                                    <strong>Cargo del jefe inmediato: </strong>{{ object.d10.datos_experiencia_laboral.cargo_jefe }}<br>
                                                    <strong>Telefono de la empresa: </strong>{{ object.d10.datos_experiencia_laboral.telefono_empresa }}<br>
                                                    <strong>Fecha de inicio: </strong>{{ object.d10.datos_experiencia_laboral.fecha_inicio }}<br>
                                                    <strong>Fecha de finalizacion: </strong>{{ object.d10.datos_experiencia_laboral.fecha_finalizacion }}<br>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="panel panel-info">
                                                <div class="panel-heading" align="center">
                                                    Horario de Disponibilidad
                                                </div>
                                                <div class="panel-body">
                                                    <table class="table table-bordered ibox-content">
                                                        <thead>
                                                        <tr>
                                                            <th>Dia</th>
                                                            <th>De</th>
                                                            <th>Hasta</th>
                                                            <th>De</th>
                                                            <th>Hasta</th>
                                                            <th>De</th>
                                                            <th>Hasta</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr>
                                                            <td>Lunes</td>
                                                            <td>{{ object.d10.datos_horario_disponible.lunes_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.lunes_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.lunes_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.lunes_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.lunes_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.lunes_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Martes</td>
                                                            <td>{{ object.d10.datos_horario_disponible.martes_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.martes_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.martes_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.martes_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.martes_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.martes_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Miercoles</td>
                                                            <td>{{ object.d10.datos_horario_disponible.miercoles_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.miercoles_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.miercoles_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.miercoles_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.miercoles_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.miercoles_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Jueves</td>
                                                            <td>{{ object.d10.datos_horario_disponible.jueves_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.jueves_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.jueves_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.jueves_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.jueves_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.jueves_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Viernes</td>
                                                            <td>{{ object.d10.datos_horario_disponible.viernes_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.viernes_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.viernes_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.viernes_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.viernes_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.viernes_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sabado</td>
                                                            <td>{{ object.d10.datos_horario_disponible.sabado_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.sabado_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.sabado_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.sabado_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.sabado_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.sabado_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Domingo</td>
                                                            <td>{{ object.d10.datos_horario_disponible.domingo_inicio_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.domingo_fin_1|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.domingo_inicio_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.domingo_fin_2|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.domingo_inicio_3|default_if_none:'' }}</td>
                                                            <td>{{ object.d10.datos_horario_disponible.domingo_fin_3|default_if_none:'' }}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
