{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Listar Administradores
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Listado de Administradores Registrados</h5>
            </div>
            <div class="ibox-content">
                {% if object_list.count >= 10 %}
                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Buscar en la tabla">
                {% endif %}

                <table class="footable table table-stripped" data-page-size="15" data-filter=#filter>
                    <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Numero de Documento</th>
                        <th>E-mail</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for administrador in object_list %}
						<tr >
                            <td> {{ administrador.nombres }} {{ administrador.primer_apellido }} {{ administrador.segundo_apellido }} </td>
                            <td> {{ administrador.numero_documento }} </td>
                            <td> {{ administrador.email }} </td>
                            <td> <a href="{% url 'editar_administrador' administrador.id %}" class="btn btn-warning"><i class="fa fa-edit"></i> Editar </a> </td>
						</tr>
					{% endfor %}                              
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block plugins %}
    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.footable').footable();
        });
    </script>
    
{% endblock plugins %}