{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Registrar Aplicacion
{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}

{% block extrastyle %}
    <style>
        .wizard > .steps > ul > li
        {
            width: 20%;
        }

        td .form-group{
            margin-bottom: 0px !important;
        }


    </style>
{% endblock %}

{% block contenido %}
<div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar D10</h5>
                    
                </div>
                <div class="ibox-content">
                    <form id="form" method="post" class="form-horizontal" enctype="multipart/form-data"> {% csrf_token %}
                        <div id="wizard">
                            <h1>Datos Basicos</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Foto</label>
                                            {{ form_datos_basicos.foto }}
                                        </div>
                                        <div class="form-group">
                                            <label>Semestre *</label>
                                            {{ form_datos_basicos.semestre }}
                                        </div>
                                        <div class="form-group">
                                            <label>Estado civil *</label>
                                            {{ form_datos_basicos.estado_civil }}
                                        </div>
                                        <div class="form-group">
                                            <label>Numero de personas a cargo *</label>
                                            {{ form_datos_basicos.numero_de_personas_a_cargo }}
                                        </div>
                                        <div class="form-group">
                                            <label>Posicion familiar *</label>
                                            {{ form_datos_basicos.posicion_familiar }}
                                        </div>
                                        <div class="form-group">
                                            <label>Direccion de residencia *</label>
                                            {{ form_datos_basicos.direccion_residencia }}
                                        </div>
                                        <div class="form-group">
                                            <label>Estrato *</label>
                                            {{ form_datos_basicos.estrato }}
                                        </div>
                                        <div class="form-group">
                                            <label>Perfil ocupacional *</label>
                                            {{ form_datos_basicos.perfil_ocupacional }}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 50px;">
                                        <div class="form-group">
                                            <label>Barrio *</label>
                                            {{ form_datos_basicos.barrio }}
                                        </div>
                                        <div class="form-group">
                                            <label>Ciudad *</label>
                                            {{ form_datos_basicos.ciudad }}
                                        </div>
                                        <div class="form-group">
                                            <label>Departamento *</label>
                                            {{ form_datos_basicos.departamento }}
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre de acudiente *</label>
                                            {{ form_datos_basicos.nombre_acudiente }}
                                        </div>
                                        <div class="form-group">
                                            <label>Telefono de acudiente *</label>
                                            {{ form_datos_basicos.telefono_acudiente }}
                                        </div>
                                        <div class="form-group">
                                            <label>Sistemas que maneja *</label>
                                            {{ form_datos_basicos.sistemas_que_maneja }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>Educacion</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <h2 align="center">Idioma <small><p>(Si sabe un idioma diferente al de origen)</p></small></h2>
                                    <br>
                                    <div style="display: flex;justify-content: center;flex-wrap: wrap;">
                                        {% bootstrap_field form_datos_educacion.idioma_nombre label_class="control-label col-sm-3" field_class="col-sm-7"%}
                                        {% bootstrap_field form_datos_educacion.idioma_nivel_habla label_class="control-label col-sm-3" field_class="col-sm-8"  %}
                                        {% bootstrap_field form_datos_educacion.idioma_nivel_escribe label_class="control-label col-sm-3" field_class="col-sm-8" %}
                                        {% bootstrap_field form_datos_educacion.idioma_nivel_lee label_class="control-label col-sm-2" field_class="col-sm-9" %}
                                    </div>
                                    <br><br>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <h2 align="center">Bachillerato</h2>
                                        <br><br>
                                        <div class="form-group">
                                            <label>Titulo obtenido *</label>
                                            {{ form_datos_educacion.titulo_obtenido_bachillerato }}
                                        </div>
                                        <div class="form-group">
                                            <label>Año de finalizacion bachiller *</label>
                                            {{ form_datos_educacion.ano_finalizacion_bachillerato }}
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre del establecimiento *</label>
                                            {{ form_datos_educacion.nombre_colegio_bachillerato }}
                                        </div>
                                        <div class="form-group">
                                            <label>Ciudad *</label>
                                            {{ form_datos_educacion.ciudad_colegio_bachillerato }}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 50px;">
                                        <h2 align="center">Universitarios u otros <small><p>(Si ha estudiado o esta estudiando otra carrera universitaria)</p></small></h2>
                                        <br>
                                        <div class="form-group">
                                            <label>Plan de estudios o titulo obtenido</label>
                                            {{ form_datos_educacion.plan_otros_estudios }}
                                        </div>
                                        <div class="form-group">
                                            <label>Semestres</label>
                                            {{ form_datos_educacion.semestres_otros_estudios }}
                                        </div>
                                        <div class="form-group">
                                            <label>Año de finalizacion</label>
                                            {{ form_datos_educacion.ano_finalizacion_otros_estudios }}
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre del establecimiento</label>
                                            {{ form_datos_educacion.nombre_establecimiento_otros_estudios }}
                                        </div>
                                        <div class="form-group">
                                            <label>Ciudad</label>
                                            {{ form_datos_educacion.ciudad_establecimiento_otros_estudios }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>Capacitacion</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre del establecimiento</label>
                                            {{ form_datos_capacitacion.nombre_establecimiento }}
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre del curso</label>
                                            {{ form_datos_capacitacion.nombre_curso }}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 50px;">
                                        <div class="form-group">
                                            <label>Duracion del curso</label>
                                            {{ form_datos_capacitacion.duracion_cruso }}
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha de finalizacion</label>
                                            {{ form_datos_capacitacion.fecha_finalizacion_curso }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>Experiencia Laboral</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nombre de la empresa</label>
                                            {{ form_datos_experiencia_laboral.nombre_empresa }}
                                        </div>
                                        <div class="form-group">
                                            <label>Cargo desempeñado</label>
                                            {{ form_datos_experiencia_laboral.cargo }}
                                        </div>
                                        <div class="form-group">
                                            <label>Funciones realizadas</label>
                                            {{ form_datos_experiencia_laboral.funciones_realizadas }}
                                        </div>
                                        <div class="form-group">
                                            <label>Logros</label>
                                            {{ form_datos_experiencia_laboral.logros }}
                                        </div>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 50px;">
                                        <div class="form-group">
                                            <label>Nombre del jefe inmediato</label>
                                            {{ form_datos_experiencia_laboral.jefe_inmediato }}
                                        </div>
                                        <div class="form-group">
                                            <label>Cargo del jefe inmediato</label>
                                            {{ form_datos_experiencia_laboral.cargo_jefe }}
                                        </div>
                                        <div class="form-group">
                                            <label>Telefono de la empresa</label>
                                            {{ form_datos_experiencia_laboral.telefono_empresa }}
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha de inicio</label>
                                            {{ form_datos_experiencia_laboral.fecha_inicio }}
                                        </div>
                                        <div class="form-group">
                                            <label>Fecha de finalizacion</label>
                                            {{ form_datos_experiencia_laboral.fecha_finalizacion }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>Horario de Disponibilidad</h1>
                            <div class="step-content">
                                <div class="col-md-10">
                                    <table class="table table-bordered ibox-content">
                                        <thead>
                                        <tr><th colspan="7"><div align="center">Horario de Disponibilidad</div></th></tr>
                                        <tr>
                                            <th>Dia</th>
                                            <th>De</th>
                                            <th>Hasta</th>
                                            <th>De</th>
                                            <th>Hasta</th>
                                            <th>De</th>
                                            <th>Hasta</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Lunes</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Martes</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Miercoles</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Jueves</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Viernes</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Sabado</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Domingo</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {% if accion == 'Registro'%}
                                <div class="col-md-12">
                                    <button class="btn btn-primary pull-right" type="submit">
                                        Registrar
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if accion == 'Actualizacion' %}
                            <div style="display: flex;justify-content: space-between;">
                                    <a class="btn btn-primary" href="javascript:history.back()">Volver</a>
                                    <button class="btn btn-primary" type="submit">
                                        Guardar
                                    </button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock contenido %}

{% block plugins %}

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Steps -->
    <script src="{% static 'js/plugins/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>


    <!-- Data picker -->
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <script>

        jQuery.extend(jQuery.validator.messages, {
            required: "Este campo es requerido.",
        });

        $(document).ready(function(){
            actulizacion = false;
            index = 0;
            paginacion = true;
            if ("{{ accion }}" == 'Actualizacion'){
                actulizacion = true;
                index = 4;
                paginacion = false;
            }
            var form = $("#form");
            form.children("#wizard").steps({
                headerTag: "h1",
                transitionEffect: "slideLeft",
                enableFinishButton: false,
                enableAllSteps: actulizacion,
                startIndex: index,
                enablePagination: paginacion,
                labels: {
                    cancel: "Cancelar",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando ..."
                },
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex)
                {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    alert("Submitted!");
                }
            });
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                todayBtn: "linked",
                autoclose: true,
                format: "dd/mm/yyyy",
                // You can put more options here.

            });

            $('.clockpicker').clockpicker({
                autoclose: true,
                twelvehour: true
            });

            $('form').attr('autocomplete','off');
       });
    </script>

{% endblock plugins %}