{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Registrar Aplicacion
{% endblock %}

{% block extrahead %}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/clockpicker/clockpicker.css' %}" rel="stylesheet">
{% endblock %}

{% block extrastyle %}
    <style>
        .wizard > .steps > ul > li
        {
            width: 20%;
        }

        td .form-group{
            margin-bottom: 0px !important;
        }


    </style>
{% endblock %}

{% block contenido %}
<div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                    
                </div>
                <div class="ibox-content">
                    <h2>
                        Validation Wizard Form
                    </h2>
                    <p>
                        This example show how to use Steps with jQuery Validation plugin.
                    </p>
                    <form method="post" class="form-horizontal" enctype="multipart/form-data"> {% csrf_token %}
                        <div id="wizard">
                            <h1>Datos Basicos</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <img alt="image" class="img-circle m-t-xs img-responsive" style="margin-left: 280px;" src="{{ form_datos_basicos.instance.foto.url }}">
                                        {% bootstrap_field form_datos_basicos.foto label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.semestre label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.estado_civil label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.numero_de_personas_a_cargo label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.posicion_familiar label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.direccion_residencia label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.estrato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.perfil_ocupacional label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_basicos.barrio label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.ciudad label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.departamento label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.nombre_acudiente label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.telefono_acudiente label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_basicos.sistemas_que_maneja label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Educacion</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <h2 align="center">Idioma <small><p>(Si sabe un idioma diferente al de origen)</p></small></h2>
                                    <br>
                                    <div style="display: flex;justify-content: center;flex-wrap: wrap;">
                                        {% bootstrap_field form_datos_educacion.idioma_nombre label_class="control-label col-sm-3" field_class="col-sm-7"%}
                                        {% bootstrap_field form_datos_educacion.idioma_nivel_habla label_class="control-label col-sm-3" field_class="col-sm-8"  %}
                                        {% bootstrap_field form_datos_educacion.idioma_nivel_escribe label_class="control-label col-sm-3" field_class="col-sm-8" %}
                                        {% bootstrap_field form_datos_educacion.idioma_nivel_lee label_class="control-label col-sm-2" field_class="col-sm-9" %}
                                    </div>
                                    <br><br>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <h2 align="center">Bachillerato</h2>
                                        <br><br>
                                        {% bootstrap_field form_datos_educacion.titulo_obtenido_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ano_finalizacion_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.nombre_colegio_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ciudad_colegio_bachillerato label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        <h2 align="center">Universitarios u otros <small><p>(Si ha estudiado o esta estudiando otra carrera universitaria)</p></small></h2>
                                        <br>
                                        {% bootstrap_field form_datos_educacion.plan_otros_estudios label_class="control-label col-sm-6" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.semestres_otros_estudios label_class="control-label col-sm-6" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ano_finalizacion_otros_estudios label_class="control-label col-sm-6" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.nombre_establecimiento_otros_estudios label_class="control-label col-sm-6" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_educacion.ciudad_establecimiento_otros_estudios label_class="control-label col-sm-6" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Capacitacion</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_capacitacion.nombre_establecimiento label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_capacitacion.nombre_curso label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_capacitacion.duracion_cruso label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_capacitacion.fecha_finalizacion_curso label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Experiencia Laboral</h1>
                            <div class="step-content">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_experiencia_laboral.nombre_empresa label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.cargo label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.funciones_realizadas label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.logros label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                    </div>
                                    <div class="col-md-6">
                                        {% bootstrap_field form_datos_experiencia_laboral.jefe_inmediato label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.cargo_jefe label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.telefono_empresa label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.fecha_inicio label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                        {% bootstrap_field form_datos_experiencia_laboral.fecha_finalizacion label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                    </div>
                                </div>
                            </div>

                            <h1>Horario de Disponibilidad</h1>
                            <div class="step-content">
                                <div class="col-md-10">
                                    <table class="table table-bordered ibox-content">
                                        <thead>
                                        <tr><th colspan="7"><div align="center">Horario de Disponibilidad</div></th></tr>
                                        <tr>
                                            <th>Dia</th>
                                            <th>De</th>
                                            <th>Hasta</th>
                                            <th>De</th>
                                            <th>Hasta</th>
                                            <th>De</th>
                                            <th>Hasta</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Lunes</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.lunes_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Martes</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.martes_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Miercoles</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.miercoles_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Jueves</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.jueves_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Viernes</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.viernes_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Sabado</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.sabado_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        <tr>
                                            <td>Domingo</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_inicio_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_fin_1 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_inicio_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_fin_2 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_inicio_3 field_class="col-sm-12" layout='inline' %}</td>
                                            <td>{% bootstrap_field form_datos_horario_disponible.domingo_fin_3 field_class="col-sm-12" layout='inline' %}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {% if accion == 'Registro'%}
                                <div class="col-md-12">
                                    <button class="btn btn-primary pull-right" type="submit">
                                        Registrar
                                    </button>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if accion == 'Actualizacion' %}
                            <div style="display: flex;justify-content: space-between;">
                                    <a class="btn btn-primary" href="javascript:history.back()">Volver</a>
                                    <button class="btn btn-primary" type="submit">
                                        Guardar
                                    </button>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock contenido %}

{% block plugins %}

    <!-- Clock picker -->
    <script src="{% static 'js/plugins/clockpicker/clockpicker.js' %}"></script>

    <!-- Steps -->
    <script src="{% static 'js/plugins/steps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>


    <!-- Data picker -->
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>


    <script>
        $(document).ready(function(){
            actulizacion = false;
            index = 0;
            paginacion = true;
            if ("{{ accion }}" == 'Actualizacion'){
                actulizacion = true;
                index = 4;
                paginacion = false;
            }
            $("#wizard").steps({
                enableFinishButton: false,
                enableAllSteps: actulizacion,
                startIndex: index,
                enablePagination: paginacion,
                labels: {
                    cancel: "Cancelar",
                    finish: "Terminar",
                    next: "Siguiente",
                    previous: "Anterior",
                    loading: "Cargando ..."
                }
            });
            $( ".datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true,
                todayBtn: "linked",
                autoclose: true,
                format: "dd/mm/yyyy",
                // You can put more options here.

            });

            $('.clockpicker').clockpicker({
                autoclose: true,
                twelvehour: true
            });

            $('form').attr('autocomplete','off');
       });
    </script>

{% endblock plugins %}