{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Listar Ofertas de Monitorias
{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Listado de Ofertas</h5>
            </div>
            <div class="ibox-content">
                {% if object_list.count >= 10 %}
                <input type="text" class="form-control input-sm m-b-xs" id="filter"
                       placeholder="Buscar en la tabla">
                {% endif %}

                <table class="footable table table-hover" data-page-size="15" data-filter=#filter>
                    <thead>
                    <tr>
                        <th>Perfil requerido</th>
                        <th>Horas semanales</th>
                        <th>Plazo maximo de solicitudes</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for oferta in object_list %}
						<tr>
                            <td> {{ oferta.perfil_requerido }}</td>
                            <td> {{ oferta.horas_semanales }} </td>
                            <td> {{ oferta.plazo_solicitudes }} </td>

                            <td>
                                <a onclick="return abrir_modal('{% url 'detalle_oferta' oferta.id %}')" class="btn btn-info">
                                    <i class="fa fa-eye"></i> Detalle
                                </a>
                                {% if user.rol == 'Estudiante' %}
                                    {% if user.estudiante.estado_d10 == 'Registrado' %}
                                        {% if oferta.id in aplicaciones_estudiante %}
                                            <button type="button" class="btn btn-danger eliminar-aplicacion" data-toggle="modal" data-url="{% url 'cancelar_aplicacion' oferta.id %}" data-target="#myModal2">
                                                <i class="fa fa-trash"></i> Cancelar Aplicacion
                                            </button>
                                        {% else %}
                                            <a href="{% url 'aplicar_oferta' oferta.id %}" class="btn btn-success"><i class="fa fa-edit"></i> Aplicar </a>
                                        {% endif %}
                                    {% elif user.estudiante.estado_d10 == 'No registrado' %}
                                        <button type="button" class="btn btn-success registrar-d10-primero" data-toggle="modal" data-url="{% url 'registrar_d10' %}" data-target="#myModal3">
                                            <i class="fa fa-edit"></i> Aplicar
                                        </button>
                                    {% endif %}
                                {% elif user.rol == 'Operario' %}
                                    <a href="" class="btn btn-primary"><i class="fa fa-file-text"></i> Aplicaciones </a>
                                {% endif %}
                            </td>


						</tr>
					{% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">
                            <ul class="pagination pull-right"></ul>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content animated flipInY">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Cancelar aplicacion</h4>
                        </div>
                        <div class="modal-body">
                            <p>Esta seguro que desea cancelar su aplicacion a la oferta?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                            <a id="confirmar-eliminacion" href="" class="btn btn-primary">Si</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal inmodal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content animated flipInY">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Aplicar a la oferta</h4>
                        </div>
                        <div class="modal-body">
                            <p>Antes de aplicar a una oferta debes registrar tu formato D10</p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-white" data-dismiss="modal">Cancelar</a>
                            <a id="registrar-d10" href="" class="btn btn-primary">Registrar D10</a>

                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-detalle" class="modal inmodal" tabindex="-1" role="dialog" aria-hidden="true">
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block plugins %}
    <!-- FooTable -->
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.footable').footable();
        });
        $('.eliminar-aplicacion').on('click',function () {
            var url=$(this).attr('data-url');
            console.log(url);
            $('#confirmar-eliminacion').attr('href', url);
        })
        $('.registrar-d10-primero').on('click',function () {
            var url=$(this).attr('data-url');
            console.log(url);
            $('#registrar-d10').attr('href', url);
        })

        function abrir_modal(url)
        {
            $('#modal-detalle').load(url, function()
            {
                    $(this).modal('show');
            });
            return false;
        }

    </script>
    
{% endblock plugins %}