{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block titulo %}
	Registrar Estudiantes
{% endblock %}

{% block extrahead %}
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/chosen/bootstrap-chosen.css' %}" rel="stylesheet">
{% endblock %}

{% block contenido %}
<div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Registrar Oferta de Monitoria</h5>
                    
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal"> {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {% bootstrap_field form.descripcion_oferta label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                {% bootstrap_field form.perfil_requerido label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                {% bootstrap_field form.tipo_monitoria label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                {% bootstrap_field form.sede label_class="control-label col-sm-5" field_class="col-sm-6" %}

                                {% bootstrap_field form.criterios_seleccion label_class="control-label col-sm-5" field_class="col-sm-6" %}

                                {% comment %}
                                <div class="form-group">
                                    <label class="control-label col-sm-5">Criterios de seleccion</label>
                                    <div class="col-sm-6" name="form.criterios_seleccion">
                                        <select data-placeholder=" "  class="chosen-select" multiple style="width:350px;" tabindex="4">
                                            {% for x,y in form.fields.criterios_seleccion.choices %}
                                                <option value="{{ x }}">{{ y }}</option>
                                            {% endfor %}
                                            <!--option value="United States">Entrevista</option>
                                            <option value="United Kingdom">Promedio acumulado</option>
                                            <option value="Afghanistan">Disponibilidad de horario</option-->
                                        </select>
                                    </div>
                                </div>
                                {% endcomment %}
                                {% bootstrap_field form.periodo_duracion label_class="control-label col-sm-5" field_class="col-sm-6" %}
                                {% bootstrap_field form.horario_ejecucion label_class="control-label col-sm-5" field_class="col-sm-6" %}
                            </div>
                            <div class="col-md-6">
                                {% bootstrap_field form.horas_semanales label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                {% bootstrap_field form.plazo_solicitudes label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                {% bootstrap_field form.fecha_seleccion label_class="control-label col-sm-4" field_class="col-sm-6" %}
                                {% bootstrap_field form.fecha_adjudicacion label_class="control-label col-sm-4" field_class="col-sm-6" %}
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <div class="col-md-6">
                                <button class="btn btn-white">Cancelar</button>
                                <button class="btn btn-primary" type="submit">
                                    {% if creacion %}
                                        Registrar
                                    {% else %}
                                        Modificar
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock contenido %}

{% block plugins %}
    <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>

   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>

    <script>
        $(function() {
            $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            todayBtn: "linked",
            autoclose: true,
            format: "dd/mm/yyyy",
            // You can put more options here.
        
            });
        });

        $('.chosen-select').chosen({width: "100%"});
    </script>
    
{% endblock plugins %}